# HTTP Settings
PORT=4000
HOST=127.0.0.1

# Session encryption
JWT_EXPIRATION=30d
JWT_SECRET=<Edit your token here>

# Cache
REDIS_URI=redis://localhost/0

# Data Storage
MONGODB_URI=mongodb://localhost/example